.container{
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(20,20,76,0.7);
}

table{
    width: 100%;
}

th{
    background-color: #243b7b;  
    padding: 0.75rem;
    color: #fff;
    text-align: left;
}

td{
    padding: 0.75rem;
    border-bottom: 1px solid #f0f0f0;
}